/* Base styles */
.pdfformcontainer,
.pdfformcontainer1,
.pdfformcontainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.thumSec {
  width: 11%;
}
.pdfheading,
.pdfheading1,
.pdfheading2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pdfuploadfilescontainer,
.pdfuploadfilescontainer1,
.pdfuploadfilescontainer2 {
  margin-top: 50px;
  background-color: #f7fff7;
  padding: 30px 60px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}

.pdfdragfilearea,
.pdfdragfilearea1,
.pdfdragfilearea2 {
  display: flex;
  flex-direction: column;
  border: 2px groove #7b2cbf;
  border-radius: 40px;
  margin: 10px 0;
  text-align: center;
  width: 840px;
  background-color: rgb(255, 247, 237);
}

.pdfdragfilearea {
  display: block;
  position: relative;
  padding: 40px 60px;
  max-width: -webkit-fill-available; /* Added max-width for responsiveness */
  height: 350px;
}

.pdfdragfilearea1,
.pdfdragfilearea2 {
  padding: 15px 10px;
  width: 840px; /* Changed width for responsiveness */
  overflow: auto;
}

.pdfdragfilearea .dynamicmessage,
.pdfdragfilearea1 .dynamicmessage1 {
  font-size: 20px;
  margin: 7px 0;
  color: #660fb1;
}

.pdflabel1,
.pdflabel {
  font-size: 19px;
}

.pdfbrowsefilestext {
  border: 5px double rgb(148, 28, 187);
  padding: 5px;
  color: #7b2cbf;
  font-weight: bolder;
  cursor: pointer;
  top: 102px;
  position: relative;
  box-shadow: 1px 1px 5px 2px rgb(136, 3, 146);
}

.pdfbrowsefilestext1 {
  color: #7b2cbf;
  font-weight: bolder;
  cursor: pointer;
  font-size: 17px;
  top: 0px;
}

.pdfdefaultfileinput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 60%;
  left: 0%;
}

.pdfdefaultfileinput1 {
  opacity: 0;
}

.pdfuploadbutton,
.pdfuploadbutton1,
.pdfuploadbutton2 {
  font-family: "Montserrat";
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin: 20px 70px;
  padding: 7.5px 50px;
  cursor: pointer;
  color: #f7fff7;
}

.pdfuploadbutton1 {
  box-shadow: 1px 1px 5px 2px rgb(136, 3, 146);
}

.pdfuploadbuttongroup {
  font-family: "Montserrat";
  color: #f7fff7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0 10px;
  padding: 7.5px 5px;
  cursor: pointer;
}

.pdfuploadbutton1 {
  background-color: #9754d1;
}

.pdfuploadbutton1:hover {
  background-color: #e950e7;
}

.pdfuploadbuttongroup {
  font-family: "Montserrat";
  color: #f7fff7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0 10px;
  padding: 7.5px 5px;
  cursor: pointer;
}

.pdffileuploadcontainer2,
.pdffileuploadcontainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdffiledetails1,
.pdffiledetails2 {
  display: flex;
  align-items: center;
  border: 1px dotted black;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
  box-shadow: 1px 1px 3px rgb(56, 58, 56);
}

.pdffiledetails1 {
  margin-top: 15px;
  background-color: rgb(244, 250, 248);
  width: 95%;
}

.filedetails2 {
  margin: 5px;
  background-color: rgb(250, 245, 245);
}

.boxofname {
  display: flex;
  width: 140px;
}

.pdffileNameIma .paragraphsize {
  float: left;
  margin: 5px 0 2px;
  color: darkgray;
}

.featureimg {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.pdffileicon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.pdffileicon2 {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pdfremovebutton {
  width: 40px;
  height: 25px;
  margin-left: 510px; /* Adjusted margin for responsiveness */
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgb(170, 11, 11);
}

.pdfbuttonDC {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 30px;
}

.pdfbuttonDC .Download {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid blue;
  padding: 7px;
  width: 70px;
  height: 40px;
  margin-left: 1050px; /* Adjusted margin for responsiveness */
  box-shadow: 1px 1px 2px 2px rgb(37, 56, 62);
}

.pdfbuttonDC .Download:hover {
  background-color: rgb(143, 143, 196);
}

.spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 100px;
}

.react1,
.react2,
.react3,
.react4,
.react5,
.react6,
.react7,
.react8,
.react9,
.react10 {
  background-color: #fff;
  height: 180px;
  width: 20px;
  display: inline-block;
  animation: meregang 1.2s infinite ease-in-out;
}

.spinner .react1 {
  animation-delay: -1.2s;
}

.spinner .react2 {
  animation-delay: -1.1s;
}
.spinner .react3 {
  animation-delay: -1s;
}

.spinner .react4 {
  animation-delay: -0.9s;
}

.spinner .react5 {
  animation-delay: -0.8s;
}
.spinner .react6 {
  animation-delay: -0.6s;
}
.spinner .react7 {
  animation-delay: -0.4s;
}
.spinner .react8 {
  animation-delay: -0.3s;
}
.spinner .react9 {
  animation-delay: -0.2s;
}
.spinner .react10 {
  animation-delay: -0.1s;
}

@keyframes meregang {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    background-color: rgb(35, 74, 249);
    transform: scaleY(1);
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.textcontentdiv {
  width: 80%;
  max-width: 800px;
  margin-bottom: 40px;
  margin: auto;
}

.textheading3,
.textheading1 {
  text-align: center;
  margin-bottom: 20px;
  color: #660fb1;
}

.textcontentpara,
.textcontentparali {
  margin-bottom: 16px;
  line-height: 1.6;
}

.textcontentul {
  padding-left: 20px;
}

.textcontentli {
  margin-bottom: 16px;
}

.textcontentparali {
  margin-bottom: 0;
}

.hrefcontainer {
  width: 50%;
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between boxes */
  justify-content: center; /* Center boxes horizontally */
  padding: 20px; /* Padding around the container */
  margin: 0 0 20px 0;
  box-shadow: 2px 2px 10px 2px lightblue;
}

.box {
  background-color: #c581ce;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: calc(100% / 2 - 20px); /* Two boxes per row with space */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.box a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.box:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
  .pdfdragfilearea1,
  .pdfdragfilearea2 {
    border: 2px dashed #7b2cbf;
    border-radius: 40px;
    margin: 10px 0 0px;
    padding: 10px 2px;
    width: 800px;
    overflow: auto;
    text-align: center;
  }

  .pdfuploadbutton,
  .pdfuploadbutton1,
  .pdfuploadbutton2 {
    padding: 7.5px 30px; /* Adjust button padding for smaller screens */
  }

  .pdfremovebutton {
    margin-left: 380px; /* Adjusted margin for smaller screens */
  }

  .pdfbuttonDC .Download {
    margin-left: 1000px; /* Adjusted margin for smaller screens */
  }

  .pdffiledetails2,
  .pdffiledetails1 {
    margin: 10px 10px;
  }

  .pdfdragfilearea1 .pdflabel1,
  .pdfdragfilearea .pdflabel {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .textcontentdiv {
    width: 95%;
  }

  .pdfheading,
  .pdfheading1,
  .pdfheading2 {
    margin-top: 20px; /* Adjusted margin for smaller screens */
  }

  .pdfuploadfilescontainer,
  .pdfuploadfilescontainer1,
  .pdfuploadfilescontainer2 {
    padding: 10px; /* Adjust padding for smaller screens */
    max-width: 100%;
  }

  .pdfdragfilearea,
  .pdfdragfilearea1,
  .pdfdragfilearea2 {
    padding: 50px; /* Adjust padding for smaller screens */
    max-width: 100%; /* Changed width for responsiveness */
    max-height: 390px;
  }

  .pdfuploadbutton,
  .pdfuploadbutton1,
  .pdfuploadbutton2 {
    font-size: 13px; /* Adjusted font size for smaller screens */
    margin: 5px;
  }

  .pdfdragfilearea1 .pdflabel1,
  .pdfdragfilearea .pdflabel {
    font-size: small;
  }

  .pdfremovebutton {
    margin-left: 30px; /* Adjusted margin for smaller screens */
  }

  .pdfbuttonDC .Download {
    margin-left: 100px; /* Adjusted margin for smaller screens */
    width: 35px;
    height: 35px;
  }

  .textheading1,
  .heading1 {
    text-align: center;
    font-size: medium;
  }
  .dynamicmessage,
  .heading4,
  .textheading3 {
    text-align: center;
    margin: 0 5px 20px 5px;
    font-size: small;
  }

  .textcontentpara,
  .textcontentparali {
    font-size: small;
  }
  .pdffiledetails2,
  .pdffiledetails1 {
    margin: 5px;
    height: 95px;
  }

  .featureimg {
    width: 100px;
    height: 100px;
  }
  .thumSec {
    font-size: small;
  }
  .spinner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    width: 60%;
    height: 100px;
    text-align: center;
    font-size: 50px;
  }

  .box {
    width: calc(100% - 20px); /* Full width with space */
  }
}
