.cookieconsentbanner {
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 2147483645;
  box-sizing: border-box;
  width: 100%;
  background-color: #f1f6f4;
}

.cookieoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(0.1px); /* Applies blur effect */
  z-index: 2147483644; /* Just below the cookie consent banner */
}

.cookieconsentbannerinner {
  max-width: 960px;
  margin: 0px 11%;
  padding: 32px 0;
}

.privacy {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.cookieconsentbannercopy {
  margin-bottom: 16px;
}

.cookieconsentbannerheader {
  margin-bottom: 8px;
  font-family: "CeraPRO-Bold", sans-serif, arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.cookieconsentbannerdescription {
  font-family: "CeraPRO-Regular", sans-serif, arial;
  font-weight: normal;
  color: #838f93;
  font-size: 16px;
  line-height: 24px;
}

.cookieconsentbannercta {
  display: inline-block;
  min-width: 164px;
  padding: 11px 13px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #2ce080;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.cookieconsentbannerdta {
  display: inline-block;
  min-width: 164px;
  padding: 11px 13px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #ca4d4d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 15px;
}
.cookieconsentbannercta:hover {
  background-color: #20ba68;
}
.cookieconsentbannerdta:hover {
  background-color: #e6280e;
}

.cookieconsentbannercta:last-child {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .cookieconsentbannerheader {
    font-size: 14px;
    line-height: 12px;
  }

  .cookieconsentbannerdescription {
    font-size: 13px;
    line-height: 16px;
  }

  .cookieconsentbannercta {
    min-width: 120px;
    padding: 7px 7px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 0%;
  }
  .cookieconsentbannerdta {
    min-width: 120px;
    padding: 7px 7px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 2%;
  }
}
