.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 1.5rem;
  height: 60px;
  background-color: rgba(182, 114, 176, 0.2);
  z-index: 10; /* Ensure the navbar is on top */
  position: relative;
  width: 100%;
  box-shadow: -5px 2px 10px 1px rgb(167, 122, 177);
}

.logo {
  color: aliceblue;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 12px;
  margin-top: 2px;
  cursor: pointer;
  padding: 1px;
}

.fas {
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.listnavbar {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  align-self: self-start;
  gap: 20px;
}

.listitem a {
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  color: #080707;
  text-align: center;
  margin-left: 0.1rem;
  letter-spacing: 1px;
  font-weight: bold;
  height: fit-content;
}

.listitem a:hover {
  color: #1d2dba;
}

.burgermenu {
  display: none;
  z-index: 20; /* Ensure the burger menu is on top */
  position: relative;
  user-select: none; /* Prevent text selection */
}

@media (max-width: 768px) {
  .listitem a {
    font-size: 0.7rem;
  }

  .logo {
    font-size: 0.875rem;
  }
}

@media (max-width: 578px) {
  .listitem {
    font-size: 0.1rem;
    margin-top: 13px;
  }

  .listnavbar.active {
    right: 0;
  }

  .listnavbar {
    display: flex;
    position: fixed;
    right: -100%;
    top: 58px; /* Adjusted for the 60px height of .navbar plus 20px margin */
    width: 39%;
    height: 35%;
    background-color: white; /* Blue background color */
    text-align: center;
    flex-direction: column;
    transition: 0.7s;
    gap: 10px;
    border-radius: 0 0 10px 10px;
    z-index: 15; /* Ensure the listnavbar is on top */
  }

  .burgermenu {
    display: block;
    cursor: pointer;
  }

  .iconnavfree {
    display: none;
  }

  .logo {
    margin-left: 65px;
  }
}
